.footer-artists-container {
    display: flex;
    .artist-card {
        display: flex;
        margin-right: .5em;
        width: 200px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        img {
            height: 40px;
            height: 40px;
            border: 1px solid #fff;
            background: #fff;
        }
        .contents {
            flex: 1;
            display: flex;
        }
        .name {
            flex: 1;
            margin-top: .1em;
            font-weight: 600;
            margin-left: .3em;
            font-size: .9em;
        }
        .category {
            background: $color-primary-dark;
            padding: .25em;
            align-self: flex-start;
            font-size: .7em;
        }
    }
}