[v-cloak] {
    display: none;
}

section.section-account .img-backdrop,
section.section-account .spacer {
    height: 200px;
}

label {
    color: $color-primary-dark !important;
}

.upload-btn-footer {
    border-radius: 10px;
    padding: 0 1.5em;
}

.logo {
    height: 35px;
}

.header-nav-profile {
    img {
        border: 1px solid $colr-primary;
    }
}

.slick-slider-wrapper {
    padding: 20px 0;
}

.slick-dots li button:before {
    font-size: 12px !important;
    color: $color-accent !important;
    line-height: 20px;
}

.slick-list,
.slick-active {
    outline: none !important;
}

.breadcrumb {
    border-bottom: 1px solid darken(#fff, 20%);
    margin-bottom: 20px;
    .active {
        color: $color-primary-dark !important;
    }
}

.search-input,
input::placeholder {
    font-size: 14px;
    font-style: italic;
}