[v-cloak] {
    display: none;
}

section.section-account .img-backdrop,
section.section-account .spacer {
    height: 200px;
}

label {
    color: $color-primary-dark !important;
}

.upload-btn-footer {
    border-radius: 10px;
    padding: 0 1.5em;
}

.logo {
    height: 35px;
}

.header-nav-profile {
    img {
        border: 1px solid $colr-primary;
    }
}