html, body {
    background-color: #fff !important;;
    color: #636b6f !important;;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100 !important;;
    height: 100vh !important;;
    margin: 0 !important;;
}

.panel {
    border-radius: 0;
}